<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Criteria Overview</title>
    <link rel="stylesheet" type="text/css" href="portfolio.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Criteria</h1>
    <table>
        <tr>
            <th>Description</th>
            <th>Points</th>
            <th>Category</th>
        </tr>
        <tr th:each="criterium: ${allCriteria}">
            <td th:text="${criterium.desription}" />
            <td th:text="${criterium.points}" />
            <td th:text="${criterium.category.name}" />
        </tr>
    </table>

    <div>
        <a th:href="@{/criteria/add}">Add criterium</a>
    </div>

</body>
</html>