<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Create a new criterium</title>
    <link rel="stylesheet" type="text/css" href="portfolio.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Create a new criterium</h1>
<form action="#" th:action="@{/criteria/add}" th:object="${criterium}" method="post">
    <p>Description: <input type="text" th:field="*{description}"></p>
    <p>Points: <input type="number" th:field="*{points}"></p>
    <p>
        Category:
        <select th:field="*{category}">
            <option th:each="category : ${categoryList}"
                    th:value="category.categoryId"
                    th:text="${category.categoryId}"></option>
        </select>
    </p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>
