<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Targets</title>
    <link rel="stylesheet" type="text/css" href="portfolio.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Targets</h1>

<table>
    <tr>
        <th>Description</th>
        <th>Target date</th>
        <th>Category</th>
        <th>Points</th>
    </tr>
    <tr th:each="target: ${allTargets}">
        <td th:text="${target.description}" />
        <td th:text="${target.targetDate}" />
        <td th:text="${target.criterium.category.name}" />
        <td th:text="${target.criterium.points}" />
    </tr>
</table>

<div>
    <a th:href="@{/targets/add}">Add target</a>
</div>

<div>
    <a th:href="@{/}">Back to overview</a>.
</div>

</body>
</html>
